@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic');

html, body {
  padding: 0;
  height: 100%;
}

body {
  background-color: #fff;
  margin: 0;
}

body,
button {
  font: normal 16px 'IBM Plex Sans', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
